<!DOCTYPE html>
<html>
<head>
  <nav>
    <% if !session[:user_id] %>
      <%= button_to "Sign in with Google", '/auth/google_oauth2', method: :post %>
    <% else %>
      <%= button_to "Log out", '/session/destroy', method: :get %>
    <% end %>
  </nav>
  <title>SkillSphere</title>
</head>
<body>
  <h1>SkillSphere</h1>
  <nav>
    <ul>
      <li><%= link_to 'Course', courses_path %></li>
    </ul>
  </nav>

  <%= embed_youtube_video('JFO_HLa0UMc') %>
</body>
</html>
