<!DOCTYPE html>
<html>
<head>
  <title>SkillSphere</title>
  <style>
    .center-video {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: 20px;
    }
    #homepage-index h2, #homepage-index h4 {
      text-align: center;
    }
  </style>
</head>
<body id="homepage-index">
  <h2>Welcome in SkillSphere!</h2>
  <h4>The exchange course platform, built with:</h4>
  <div class="center-video">
    <%= embed_youtube_video('2DvrRadXwWY') %>
  </div>
</body>
</html>
