<!DOCTYPE html>
<html>
<head>
  <title>SkillSphere</title>
</head>
<body>
  <h1>SkillSphere</h1>
  <nav>
    <ul>
      <li><%= link_to 'Course', courses_path %></li>
      <li><%= link_to 'Account', accounts_path %></li>
    </ul>
  </nav>
</body>
</html>
