<!DOCTYPE html>
<html>
<head>
  <title>SkillSphere</title>
  <style>
    .center-video {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: 50px;
    }
  </style>
</head>
<body>
  <div class="center-video">
    <%= embed_youtube_video('2DvrRadXwWY') %>
  </div>
</body>
</html>
