<!DOCTYPE html>
<html>
<head>
  <title>SkillSphere</title>
</head>
<body>


  <div class="adsense-banner">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8567637923927490"
      crossorigin="anonymous"></script>
    <!-- banner principale -->
    <ins class="adsbygoogle"
      style="display:inline-block;width:480px;height:90px"
      data-ad-client="ca-pub-8567637923927490"
      data-ad-slot="4276157203"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <%= embed_youtube_video('JFO_HLa0UMc') %>
</body>
</html>
