<!-- app/views/courses/index.html.erb -->
<h1>Tutti i corsi</h1>

<% if @courses.any? %>
  <ul>
    <% @courses.each do |course| %>
      <li>
        <%= link_to course.title, course_path(course) %>
        <p><%= course.description %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Nessun corso disponibile.</p>
<% end %>
