<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Google Drive Files:</strong>
  <ul>
    <% if @course.google_drive_file_ids.present? %>
      <% JSON.parse(@course.google_drive_file_ids).each do |file_id| %>
        <li>
          <%= link_to "View File", "https://drive.google.com/open?id=#{file_id}", target: "_blank" %>
        </li>
      <% end %>
    <% else %>
      <li>No Google Drive files available.</li>
    <% end %>
  </ul>
</p>
