<h1>Account Details</h1>
<p>
  <strong>ID:</strong>
  <%= @account.id %>
</p>
<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>
<p>
  <strong>Role:</strong>
  <%= @account.role %>
</p>
<%= link_to 'Back', accounts_path %>
